body {
    font-size: 24px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
li {
    text-decoration: none;
}
.app {
    position: relative;
    padding: 0 24px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
