@use './variables.scss';
body {
    font-size: 24px;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
li {
    text-decoration: none;
}

:global {
    body[data-theme='lightTheme'] {
        background: var(--text-color-light);
        font-size: 40px;
    }
    body[data-theme='darkTheme'] {
        background: var(--text-color-dark);
    }
}
