.sideBar {
    position: fixed;
    top: 20px;
    left: 0;
    bottom: 20px;
    width: 30%;
}

.ulList {
    height: 80%;
    margin-top: 16px;

    transition: width 0.3s;
    background: var(--color-text-invert-black);
    color: var(--color-for-modal);
    list-style-type: none;
}
